.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: white;
  /* background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%); */
  color: #171717;
}

.card {
  /* background: white; */
  border-radius: 16px;
  padding: 32px;
  text-align: center;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); */
  width: 100%;
  max-width: 384px;
  margin: 0 16px;
}

.logo {
  display: block;
  margin: 0 auto 16px;
  width: 120px;
  height: auto;
  object-fit: contain;
}

/* Responsive logo sizes */
@media (min-width: 640px) {
  .logo {
    width: 180px;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 220px;
  }
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
}

.text {
  font-size: 14px;
  color: #374151;
  margin: 4px 0;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 640px) {
  .text {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }
}

.buttonWrapper {
  margin-top: 16px;
}

.button {
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 32px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.button:hover {
  opacity: 0.9;
}
