.backdrop {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #e48c8c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s infinite;
}

.loaderText {
  color: white;
  /* margin-top: 10px; */
  margin-left: 10px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
