.admin-section {
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background: #f3f4f6;
}

.approved {
  color: green;
  font-weight: bold;
}

.rejected {
  color: red;
  font-weight: bold;
}

.pending {
  color: orange;
  font-weight: bold;
}

.approve-btn {
  background: green;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.reject-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  background: white;
  padding: 10px;
  border-radius: 6px;
}

.actions {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.actions button {
  background-color: #1e293b;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
}

.active {
  background-color: #f8d020 !important;
}
